
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# Copyright (C) 2019 Atul-Kadian

class Creds(object):
        TOKEN = "1112776828:AAE2bkQLHdYS8y1OG52PluFNRYNrD6qtf6I"
        CLIENT_ID = "746228676390-686id31rleohsb2ion7uqgpogg6go32h.apps.googleusercontent.com"
        CLIENT_SECRET = "bnka2yH_XsTndjx4Ap1remVi"

